/* ========================================================================================================================
Typography & base layout 
=========================================================================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    color: var(--color-main-text);
}

body {
    height: 100vh;
}
/* ========================================================================================================================
Variables
=========================================================================================================================== */
:root {
    --color-header: #7477BF;
    --color-sidebar: #4D4C72;
    --color-main: #7377BF;
    --color-tab-gray: #FBFBFB;
    --color-white: #FFFFFF;
    --color-border: #E2E2E2;
    --color-main-text: #808080;
    --color-chart: #E2E3F6;
    --color-chart-transparent: rgba(226, 227, 246, 0.6);
    --color-box: #FBFBFB;
    --color-email: #9697CD;
    --color-cancel: #B2B2B2;
}
/* ========================================================================================================================
Grid layout
=========================================================================================================================== */
.grid-container {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 60px auto;
    grid-template-areas: 
    'hd hd'
    'sd mn';
}

.top-header {
    grid-area: hd; 
    background-color: var(--color-header);
}

.sidebar {
    grid-area: sd;
    background-color: var(--color-sidebar);
}

.main-content {
    grid-area: mn;
}
/* ========================================================================================================================
Header
=========================================================================================================================== */
/* Flex layout */
.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-header h4 {
    flex-grow: 2;
}

.top-header > * {
    margin: auto 0.5em;;
}

/* sizing items on the right side */
.vertical-line {
    width: 0;
    height: 60%;
    border-right: 1px solid var(--color-sidebar);
}

#profile-thumbnail {
    width: 2.25em;
    height: 2.25em;
    border-radius: 50%;
}

.icon-bell {
    width: 2em;
}

/* typogrophy */
.top-header * {
    color: var(--color-white);
}

.bold {
    font-weight: 700;
}

.regular {
    font-weight: 400;
}

.icon-bell {
    transition: transform 0.25s cubic-bezier(.8,-0.34,0,1.64) 0s;
}

.icon-bell:hover {
    transform: scale(1.2) rotate(-10deg);
}

/* ========================================================================================================================
Sidebar
=========================================================================================================================== */
.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar * {
    width: 1.5em;
    margin: 1.5em auto;
    height: 1.5em;
}
/* ========================================================================================================================
Main Content & Widgets
=========================================================================================================================== */
/* ================================================ Dashboard tab & searchbar */
.dashboard-tab {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    background-color: var(--color-tab-gray);
    border-bottom: 1px solid var(--color-border);
    position: relative;
}

.dashboard-tab::after {/* erase bottom border under the tab */
    content: '';
    display: block;
    position: absolute;
    width: 115px; /* Just wide enough */
    border: 1px solid var(--color-white);
    bottom: -1px; 
    left: 0px;
}

.tab {
    padding: 1em;
    margin: 0;
    background-color: var(--color-white);
    border-right: 1px solid var(--color-border);
}

#page-searchbar {
    height: 2em;
    margin: auto 2em;
    padding: 1em;
    width: 40%;
    min-width: 168px;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    outline-offset: 0;
    transition: border 0.5s;
}

#page-searchbar::placeholder {
    color: var(--color-border);
}
/* ================================================ Alert notification */
.alert-bar {
    background-color: var(--color-header);
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: transform 0.75s cubic-bezier(.4,-0.63,1,1.05) 0s;
}

.removed {
    transform: translateX(180%);
}

.alert-bar > * {
    color: var(--color-white);
    margin: 0.75em;
}

.alert {
    font-weight: 700;
}

.alert-text {
    margin-right: auto;
}

.alert-close {
    margin-left: auto;
    background-color: var(--color-main);
    border: none;
}
/* ================================================ Traffic line charts */
.traffic-charts {
    margin: 0;
    padding: 1em;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.traffic {
    margin: 0 auto 0 0;
    font-size: 0.75em;
}

.periods {
    border: none;
    outline: none;
    background-color: var(--color-white);
    font-size: 0.75em;
}

.traffic-line {
    width: 100%;
    padding-top: 0.5em;
}
/* ================================================ Daily traffic bar chart & Mobile users pie chart */
.daily-traffic > h4, 
.mobile-users > h4 {
    font-size: 0.75em;
    padding-left: 1em;
}

.daily-traffic, 
.mobile-users {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 1em;
}

/* ================================================ Social stats widget */
.social-stats > h4 {
    font-size: 0.75em;
    padding-left: 1em;
    margin-bottom: 0;
}

.wrapper {
    padding: 1em 1em 1.5em;
    border-bottom: 1px solid var(--color-border);
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    flex-wrap: wrap;
}

.social {
    flex-basis: 250px;
    background-color: var(--color-box);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.5em 1em;
}

.social h3 {
    color: var(--color-main);
    font-size: 1em;
    margin: 0;
}

.social p {
    margin: 0;
    font-size: 3em;
}

.social-site {
    padding: 0 1em;
    margin: 1em;
}

.social-icon {
    width: 3.5em;
    height: 3.5em;
    vertical-align: middle;
    padding: 0 1em;
    margin: auto;
    margin-left: 1em;
    fill: var(--color-white);
    background-color: var(--color-main);
    border-radius: 50px;
}

/* ================================================ New members & recent activity widgets */
.new-members, 
.recent-activity {
    border-bottom: 1px solid var(--color-border);
}

.new-members > h4, 
.recent-activity > h4 {
    font-size: 0.75em;
    padding-left: 1em;
}

.member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.85em;
}

.member:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
}

.profile-thumbnail {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: 1em;
}

.name-email > * {
    margin: 0;
}

.email {
    color: var(--color-email);
    font-size: 0.75em;
}

.time-elapsed {
    font-size: 0.75em;
}

.date, 
.arrow {
    margin-left: auto;
}

.bold {
    font-weight: 700;
}

/* ================================================ Message User widget */
.bottom-row {
    margin-bottom: 2em;
}

.message-user > h4, 
.settings > h4 {
    font-size: 0.75em;
    padding-left: 1em;
    margin-bottom: 0;
}

.message-user {
    padding-bottom: 1em;
    padding-left: 1em;
    display: flex; 
    flex-direction: column;
}

.message-user > * {
    width: 100%;
    margin: 0.5em auto;
    padding: 0.5em;
}

.message-user > input, 
.message-user > textarea {
    background-color: var(--color-box);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    outline-offset: 0;
}

textarea {
    height: 6em;
}

button[type='submit'], 
.cancel {
    border: none;
    color: var(--color-white);
    background-color: var(--color-main);
    border-radius: 5px;
    font-size: 0.75em;
    padding: 1em;
}
/* ================================================ settings widget */
.toggle {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: space-between;
    width: 75%;
}

.toggle > *, 
.public > * {
    margin: 1em;
}

.toggle > input {
    margin-left: auto;
}

#timezone {
    margin: 1.5em 0 0.6em 1em;
    margin-left: 1em;
    margin-top: 1.5em;
    width: 90%;
    padding: 0.5em;
    border: 1px solid var(--color-border);
    background-color: var(--color-box);
    border-radius: 5px;
}

.settings-buttons {
    display: flex;
    flex-direction: row;
}

.settings-buttons > * {
    width: 45%; 
    margin: auto;
}

.cancel {
    background-color: var(--color-cancel);
}
/* ================================================ toggle switches */
.toggle input {
    height: 0;
    width: 0;
}

.slider {
    position: relative;
    height: 1.5em;
    width: 4em;
    background-color: var(--color-cancel);
    border-radius: 25px;
    transition: all 0.4s cubic-bezier(.8,-0.34,0,1.64) 0s;
}

.checkbox + .slider::before {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--color-sidebar);
    position: absolute;
    margin: auto;
    top: 0; right: null; bottom: 0; left: 6%;
    transition: all 0.4s cubic-bezier(.8,-0.34,0,1.64) 0s;
}

.checkbox + .slider::after {
    content: 'ON';
    position: relative;
    color: var(--color-white);
    top: 5%; right: 0; bottom: 0; left: 15%;
    font-size: 0.75em;
    opacity: 0;
    transition: all 0.4s cubic-bezier(.8,-0.34,0,1.64) 0s;
}

.checkbox:checked + .slider::before {
    background-color: var(--color-white);
    transform: translate(250%);
}

.checkbox:checked + .slider::after {
    opacity: 1;
}

.checkbox:checked + .slider {
    background-color: var(--color-sidebar);
}
/* ========================================================================================================================
Media queries
=========================================================================================================================== */
/* move sidebar & its contents at narrow screen size */
@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: 60px 60px auto;
        grid-template-areas: 
        'hd'
        'sd'
        'mn';
    }

    .sidebar {
        flex-direction: row;
        justify-content: space-between;
    }

    .sidebar * {
        margin: auto;
    }

    .message-user {
        border-bottom: 1px solid var(--color-border);
    }

    .message-user > * {
        margin-right: 1em;
        width: 90%;
    }

    .toggle {
        width: 50%;
    }
}

@media (min-width: 768px) {
   .other-charts, 
   .people, 
   .bottom-row {
       display: flex;
       flex-direction: row;

   }
    .daily-traffic, 
    .new-members, 
    .message-user {
        padding-right: 1em;
        border-right: 1px solid var(--color-border);
    }
    .mobile-users, 
    .daily-traffic, 
    .new-members, 
    .recent-activity, 
    .message-user, 
    .settings {
        width: 50%; 
    }
}



